<p id="notice"><%= notice %></p>

<h1>Listing Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.body %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <% if tweet.favorited_by? current_user %>
            <%= link_to "いいね解除", tweet_favorites_path(tweet), method: :delete %>
          <% else %>
            <%= link_to "いいね", tweet_favorites_path(tweet), method: :tweet %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tweets %>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
