<div id="registrations-new">
	<div class="col-xs-6 left-content">
		<h1>Tweet more than words</h1>
		<p class="px">Instant updates from your friends, industry experts, favorite celebrities, and what's happening around the world.</p>
		<p class="by">Made by Nitta</p>
		<% if notice%>
	<p class="alert alert-info">
		<%=notice%>
	</p>
	<% end %>	
	</div>

	<div class="col-xs-6 right-content">

	<%= form_for @user, url: registrations_path, method: :post do |f|%>
	<h2>会員登録する</h2>
	<% @user.errors.each do |attr, message|%>
	<div class="alert alert-danger"><%= message%></div>
	<% end %>
	<div class="form-group">
		<%= f.label :name, "ユーザー名", class: "control-label"%>
		<%= f.text_field :name, class: "form-control"%>		
	</div>
	<div class="form-group">
		<%= f.label :email, "メールアドレス", class: "control-label"%>
		<%= f.text_field :email, class: "form-control"%>		
	</div>
	<div class="form-group">
		<%= f.label :password, "パスワード", class: "control-label"%>
		<%= f.password_field :password, class: "form-control"%>		
	</div>
	<div class="form-group">
		<%= f.label :password_confirmation, "確認用パスワード", class: "control-label"%>
		<%= f.password_field :password_confirmation, class: "form-control"%>		
	</div>
	<div class="form-group">
		<%= f.submit "登録する", class: "btn btn-warning"%>	
	</div>
		<%= link_to "ログイン",new_sessions_path, class: "login pull-right"%>
	<%end%>
	</div>
</div>